#iyu-profile-card {
    border: 1px solid rgba(2, 1, 23, 0.199);
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    /* display: inline-block; */
}
#photo-container {
    text-align: center;
}
img.profile-picture {
    top: -80px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
div#iyu-profile-card {
    text-align: center;
}
.bold-text {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.medium-bold-text {
    font-size: 12px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.handle-text {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin-top: 10px;
    background-color: black;
    color: grey;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: brown;
}
#about-me {
    font-size: 12px;
    font-variant: small-caps;
}
#contact-me-container {
    text-align: center;
}
#contact-me-header {
    margin-bottom: 0px;
}
.contact {
    margin-right: 10px;
    font-size: 10px;
}
.contact-item {
    font-size: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#close-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
